<a href="https://colab.research.google.com/github/Rog10/Python/blob/main/Unit%203%20-%20Python%20Advanced/Assignments/Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [8]:
import numpy as np

In [14]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

In [17]:
result = np.where(np_olympic_country_Gold == np.max(np_olympic_country_Gold))
result[0]

array([3])

## 2.	Find country with maximum gold

In [10]:
max_gold = np_olympic_country

In [18]:
print(max_gold[result[0]])

['US']

## 3.	Find countries with more than 20 gold medals

In [19]:
more_than_20 = np.where(np_olympic_country_Gold > 20)
print(np_olympic_country[more_than_20[0]])

['GBR' 'China' 'RUS' 'US']